<div class="calculator-header">Calculator</div>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Wybierz typ obliczenia
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#" (click)="changeCalculationType('sum')">Dodawanie</a></li>
        <li><a href="#" (click)="changeCalculationType('multiply')">Mnozenie</a></li>
        <li><a href="#" (click)="changeCalculationType('sub')">Odejmowanie</a></li>
        <li><a href="#" (click)="changeCalculationType('divide')">Dzielenie</a></li>
    </ul>
</div>

<ng-sum-view *ngIf="calculationType == 'sum'"></ng-sum-view>
<ng-multiply-view *ngIf="calculationType == 'multiply'"></ng-multiply-view>
<ng-sub-view *ngIf="calculationType == 'sub'"></ng-sub-view>
<ng-divide-view *ngIf="calculationType == 'divide'"></ng-divide-view>